.skillbox {
	flex-direction: column;
	align-items: center;
}
	.skillbox .title {
		width: 100%;
		padding: 6px 0px 6px 0px;
		background-color: #67ABB8;
		color: #ffffff;
		border: 2px solid #ffffff;
		border-radius: 8px 8px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
		.skillbox .title span {
			margin-left: 10px;
		}

		.skillbox .icon_button {
			width: 1em;
			height: 1em;
			margin-right: 10px;
			margin-left: auto;
		}

	.skillbox div:not(:first-child) {
		width: calc(100% - 10px);
		margin: 0px 5px 5px 5px;
		display: flex;
		flex-direction: column;
		border-bottom: 1px dotted #2a5774;
	}
	.skillbox div:last-child {
		border-bottom: none;
	}


