.block {
	display: flex;
	border: 3px double red;
	border-radius: 10px;
	margin: 0px;
    box-shadow: 4px 4px 8px;
}
.user_info {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30%;
	height: 30%;
}

.user_skills {
	position: absolute;
    top: calc(30% + 30px);
	left: 10px;
	width: 30%;
    height: calc(70% - 50px);
}

.user_technology {
	position: absolute;
    top: 10px;
	left: calc(30% + 20px);
	width: calc(70% - 30px);
    height: calc(100% - 30px);
}